@font-face {
  font-family: PressStart2P;
  font-display: swap;
  src:
    local('PressStart2P'),
    url(PressStart2P-Regular.woff) format('woff');
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src:
    local('Inter'),
    url(Inter-Variable.woff2) format('woff2');
    font-display: swap;
    font-weight: 100 900;
}