@font-face {
  font-family: 'PressStart2P';
  font-display: swap;
  src:
    local('PressStart2P'),
    url('PressStart2P-Regular.woff2') format('woff2-variations'),
    url('PressStart2P-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: 
    url('Inter-Variable.woff2') format('woff2 supports variations'),
    url('Inter-Variable.woff2') format('woff2-variations');
  font-weight: 400 785;
  font-stretch: 75% 100%;
}
