/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main);
  font-variation-settings: var(--font-variation-text);
  background-image: var(--page-background);
  background-size: cover;
  background-repeat: repeat;
  background-position: top left;
  min-height: 100vh;
  width: 1440px;
}
.header {
  margin: 100px 370px 0 370px;
  padding: 128px 60px 128px 60px;
  background: white;
  border: 2px solid #000000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  text-align: center;
}
.html-text {
  font-family: var(--font-accent);
  font-size: 65px;
  line-height: 1;
  margin: 0 0 8px;
}
.header-p {
  font-family: var(--font-accent);
  font-size: 23px;
}
.main {
  margin-left: 370px;
  margin-right: 370px;
}
.card {
  background: white;
  border: 3px solid #000000;
  margin-top: 100px;
}
.card-title {
  font-family: var(--font-main);
  font-size: 18px;
  padding: 3px 24px 3px 10px;
}
.card-image-lable {
  position: relative;
}
.label {
  position: absolute;
  top: 25px;
  right: 25px;
  background: rgb(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.6);
  font-family: var(--font-accent);
  font-size: 14px;
  z-index: 1;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 0px var(--label-text-stroke-color);
}
.card-content {
  font-family: var(--font-main);
  padding: 27px 25px 25px 25px;
}
.text-p2 {
  margin-top: 27px;
}
.card-display {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
  margin-bottom: 25px;
}
.card__like-button {
  background: none;
  border: 3px solid #000000;
  cursor: pointer;
}
.card__like-button:hover {
  background: #000000;
  color: white;
}
.card__like-button:focus-visible {
  box-shadow: 2px 2px 2px 2px #000000;

}
.card__icon-button {
  background: none;
  border: none;
  padding-top: 9px;
}
.like-icon {
  width: 39px;
  height: 39px;
}
.filter-1 {
  filter: saturate(1.2) 
}
.filter-2 {
  filter: grayscale(0.5) contrast(0.9);
}
.filter-3 {
  filter: saturate(0.8);
}
.filter-4 {
  filter: brightness(1.1);
}
.filter-5 {
  filter: grayscale(0.8);
}
.filter-6 {
  filter: sepia(80%);
}
.filter-7 {
  filter: blur(1.1);
}
.filter-8 {
  filter: saturate(0.8);
}
.footer {
  margin: 50px 553px 103px 552px;
  background: white;
}
.button__text {
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 90%;
  color: var(--accent-color);
}
.save-button {
  display: flex;
  align-items: center;
  border: 3px solid #000000;
  color: var(--accent-color);
}
.button_text_save {
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 90%;
  padding: 18px 21px 18px 8px;
  text-wrap: nowrap;
}
.save-button:hover {
  background: #000000;
  color: white;
}
.save-button:focus-visible {
  box-shadow: 2px 2px 2px 2px #000000;
}
.button__icon {
  width: 100%;
  height: 21px;
  fill: currentColor;
}
.modal {
  border: none;
  padding: 24px;
  max-width: 400px;
  width: 357px;
  background: white;
}
.modal::backdrop {
  background: rgba(0, 0, 0, 0.8);
}
.modal[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.modal__content {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
.modal__icon {
  padding-top: 12px;
}
.modal__title {
  font-family: var(--font-accent);
  font-size: 14px;
  width: 234px;
  line-height: 150%;
  font-weight: var(--font-weight-text);
}
.modal__close {
  padding: 12px 132px;
  border: 3px solid #000000;
  background: transparent;
  font-family: var(--font-accent);
  font-size: 14px;
  cursor: pointer;
  line-height: 90%;
}
.modal__close:hover {
  background: #000000;
  color: white;
}
.modal__close:focus-visible {
  box-shadow: 2px 2px 2px 2px #000000;
}
.button {
}

@media (width <= 375px) {
}
